# ── Base de datos (Neon PostgreSQL) ──
DATABASE_URL="postgresql://usuario:contraseña@ep-cool-shadow.us-east-2.aws.neon.tech/neondb?sslmode=require"

# ── JWT ──
JWT_SECRET="cambia_esto_por_una_clave_segura_aleatoria_de_64_caracteres"

# ── Cloudinary ──
CLOUDINARY_CLOUD_NAME="tu_cloud_name"
CLOUDINARY_API_KEY="123456789012345"
CLOUDINARY_API_SECRET="abcdefghijklmnopqrstuvwxyz123"

# ── Servidor ──
PORT=3001
NODE_ENV="development"
CLIENT_URL="http://localhost:5173"
